<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dentist-csv</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>

<div class="card text-center">
    <div class="card-header">
        Dentist update price
    </div>
    <div class="card-body">
        <h5 class="card-title">Dentist</h5>
        <p class="card-text">Данный сервис позволяет обновить прайс-лист медицинской клиники</p>
        <a href="/index" class="btn btn-info">Войти</a>
    </div>
    <div class="card-footer text-muted">
        studiochikishev 2020
    </div>
</div>

</body>
</html>